* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  .container_wrapper {
    .top {
      background-color: purple;
      border: 2px dashed red;
      .sidebar {
        background-color: brown;
        border: 2px dashed red;
      }
      .main_content {
        background-color: yellow;
        border: 2px dashed red;
        .hader_content {
          background-color: orange;
          border: 2px dashed red;
        }
        .list_links {
          background-color: crimson;
          border: 2px dashed black;
          height: 50px;
        }
        .row {
          .title_row {
            border: 2px dashed black;
          }
          .cards {
            background-color: lightgreen;
            border: 2px dashed black;
            .card {
              height: 180px;

              border: 2px dashed black;
            }
          }
        }
      }
    }
    .bottom {
      background-color: aquamarine;
      border: 2px dashed red;
    }
  }
}

.container_wrapper {
  width: 100%;
  height: 100vh;

  .top {
    display: flex;
    height: calc(100% - 70px);
    overflow: auto;
    .sidebar {
      position: relative;
      height: 100%;
      width: 230px;
      padding: 10px;
      .link_and_icon_sidebar {
        svg {
          height: 24px;
          width: 24px;
          vertical-align: middle;
        }
        .home_link {
          padding: 10px 0px 10px 0px;
        }
      }
      .section_playlist {
        padding: 10px 0px 0px 0px;
        .link_add_playlist {
          span {
            display: inline-block;
            width: 35px;
            height: 35px;
            background: gray;
            font-size: 30px;
            text-align: center;
            vertical-align: middle;
            margin-right: 5px;
          }
          ul {
            list-style: none;
            li {
              padding: 10px 0px 0px 0px;
              a {
                text-decoration: none;
                color: grey;
              }
            }
          }
        }
      }
      .section_download {
        position: absolute;
        left: 0%;
        bottom: 0%;

        .download {
          padding-bottom: 50px;
          padding-left: 10px;
          svg {
            height: 24px;
            width: 24px;
            vertical-align: middle;
          }
        }
      }
      .section_user {
        position: absolute;
        left: 0%;
        bottom: 0%;
        .user {
          padding-bottom: 10px;
          padding-left: 10px;
          svg {
            height: 24px;
            width: 24px;
            vertical-align: middle;
          }
        }
      }
    }
    .main_content {
      width: calc(100% - 230px);

      .cards {
        display: flex;
        .card {
          width: calc(100% / 12 * 2);
        }
      }
      .hader_content {
        height: 90px;
        position: sticky;
        top: 0;
        left: 0;
        .txt_header {
          position: absolute;
          top: 20%;
          right: 5%;
          border: 1px solid white;
          padding: 10px 20px;
          border-radius: 30px;
          color: white;
        }
      }
    }
  }
  .bottom {
    height: 70px;
  }
}

@media screen and (max-width: 552px) {
  .container_wrapper {
    .top {
      .sidebar {
        width: 50px;
        .mobile_none {
          display: none;
        }
      }

      .main_content {
        width: calc(100% - 50px);
        .row {
          .cards {
            flex-wrap: wrap;
            .card {
              width: calc(100% / 12 * 6);
            }
          }
        }
      }
    }
  }
}
