* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  .container_wrapper {
    .top {
      background-color: purple;
      border: 2px dashed red;
      .sidebar {
        background-color: brown;
        border: 2px dashed red;
      }
      .main_content {
        background-color: yellow;
        border: 2px dashed red;
        .hader_content {
          background-color: orange;
          border: 2px dashed red;
        }
        .list_links {
          background-color: crimson;
          border: 2px dashed black;
          height: 50px;
        }
        .row {
          .title_row {
            border: 2px dashed black;
          }
          .cards {
            background-color: lightgreen;
            border: 2px dashed black;
            .card {
              height: 180px;

              border: 2px dashed black;
            }
          }
        }
      }
    }
    .bottom {
      background-color: aquamarine;
      border: 2px dashed red;
    }
  }
}

.container_wrapper {
  width: 100%;
  height: 100vh;

  .top {
    display: flex;
    height: calc(100% - 70px);
    overflow: auto;
    .sidebar {
      height: 100%;
      width: 230px;
      padding: 10px;
      .link_and_icon_sidebar {
        svg {
          height: 24px;
          width: 24px;
          vertical-align: middle;
        }
        .home_link {
          padding: 10px 0px 10px 0px;
        }
      }
    }
    .main_content {
      width: calc(100% - 230px);

      .cards {
        display: flex;
        .card {
          width: calc(100% / 12 * 2);
        }
      }
      .hader_content {
        height: 90px;
        position: sticky;
        top: 0;
        left: 0;
      }
    }
  }
  .bottom {
    height: 70px;
  }
}

@media screen and (max-width: 552px) {
  .container_wrapper {
    .top {
      .sidebar {
        width: 50px;
      }

      .main_content {
        width: calc(100% - 50px);
        .row {
          .cards {
            flex-wrap: wrap;
            .card {
              width: calc(100% / 12 * 6);
            }
          }
        }
      }
    }
  }
}
