* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  .container_wrapper {
    .top {
      background-color: purple;
      border: 2px dashed red;
      .sidebar {
        border: 2px dashed red;
      }
      .main_content {
        border: 2px dashed red;
        .hader_content {
          border: 2px dashed red;
        }
        .list_links {
          border: 2px dashed red;
        }
        .row {
          .title_row {
            border: 2px dashed red;
          }
          .cards {
            border: 2px dashed red;
            .card {
              border: 2px dashed red;
            }
          }
        }
      }
    }
    .bottom {
      border: 2px dashed red;
    }
  }
}
body {
  font-family: "Montserrat", sans-serif;
}
.container_wrapper {
  width: 100%;
  height: 100vh;
  .top {
    display: flex;
    height: calc(100% - 70px);

    .sidebar {
      background-color: black;
      color: white;
      overflow: hidden;
      height: 100%;
      width: 230px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .logo {
        svg {
          width: 80%;
        }
        .hide_sm {
          display: none;
        }
      }
      .link_and_icon_sidebar {
        svg {
          margin-top: 5px;
          height: 24px;
          width: 24px;
          vertical-align: bottom;
        }
        .home_link {
          padding: 10px 0px 10px 0px;
          a {
            text-decoration: none;
            color: grey;
            path {
              fill: grey;
            }
          }
          a:hover {
            color: white;
            path {
              fill: white;
            }
          }
        }
        .home_link:hover {
          border-left: 2px solid limegreen;
        }

        .serch_link {
          padding: 10px 0px 10px 0px;
          a {
            text-decoration: none;
            color: grey;
            path {
              fill: grey;
            }
          }
          a:hover {
            color: white;
            path {
              fill: white;
            }
          }
        }
        .serch_link:hover {
          border-left: 2px solid limegreen;
        }

        .library_link {
          padding: 10px 0px 10px 0px;
          a {
            text-decoration: none;
            color: gray;
            path {
              fill: grey;
            }
          }
          a:hover {
            color: white;
            path {
              fill: white;
            }
          }
        }
        .library_link:hover {
          border-left: 2px solid limegreen;
        }

        /* .library_link:active {
          border-left: 2px solid limegreen;
        } 
          Possiamo usare anche active per dare il bordino sinistro verde al clicl del link
          */
      }
      .section_playlist {
        padding: 10px 0px 0px 0px;
        .link_add_playlist {
          i {
            background: #a3a3a3;
            height: 30px;
            width: 30px;
            text-align: center;
            vertical-align: middle;
            margin-right: 5px;
            padding: 7px;
          }
          ul {
            list-style: none;
            li {
              padding: 10px 0px 0px 0px;
              a {
                i {
                  color: #141922;
                }
                text-decoration: none;
                color: grey;
              }
              a:hover {
                color: white;
              }
            }
          }
        }
      }
      .section_download {
        .download {
          padding-bottom: 10px;

          svg {
            height: 24px;
            width: 24px;
            vertical-align: middle;
          }
          a {
            text-decoration: none;
            color: grey;
          }
          a:hover {
            color: white;
          }
        }
      }
      .section_user {
        .user {
          padding-bottom: 10px;

          svg {
            height: 24px;
            width: 24px;
            vertical-align: middle;
            background-color: gray;

            border-radius: 50%;
          }
          a {
            text-decoration: none;
            color: grey;
          }
          a:hover {
            color: white;
          }
        }
      }
    }
    .main_content {
      background-color: #141922;
      color: white;
      width: calc(100% - 230px);
      overflow: auto;
    }
    .hader_content {
      background-color: #080b12d9;
      height: 90px;
      position: sticky;
      top: 0;
      left: 0;
      .txt_header {
        position: absolute;
        top: 20%;
        right: 5%;
        border: 1px solid white;
        padding: 10px 20px;
        border-radius: 30px;

        a {
          color: gray;
          text-decoration: none;
        }
      }
      .txt_header:hover {
        border-color: limegreen;
        transform: scale(1.15);
        a:hover {
          color: white;
        }
      }
    }
    .list_links {
      background-color: #141922;
      padding: 20px 10px;
      ul {
        height: 100%;
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 14px;
        font-size: 15px;
        li {
          a {
            text-decoration: none;
            color: grey;
          }
          a:hover {
            color: white;
            border-bottom: 2px solid limegreen;
          }
        }
      }
    }
    .row {
      .title_row {
        font-size: 35px;
        color: white;
        padding: 10px;
      }
      .suggestions {
        padding: 10px;
      }
      .cards {
        display: flex;
        .card {
          padding: 10px;
          width: calc(100% / 12 * 2);
          .img_album {
            position: relative;
            top: 0;
            left: 0;
          }
          .img_album img {
            width: 100%;
          }
          .title_album {
            font-size: 16px;
            font-weight: 600;
            padding-top: 10px;
            text-align: center;
          }
          .sottotitolo {
            color: grey;
            padding-top: 10px;
            text-align: center;
          }
          .img_artist img {
            width: 100%;
            border-radius: 50%;
          }
          .title_artist {
            font-size: 16px;
            font-weight: 600;
            padding-top: 10px;
            text-align: center;
          }
        }
        .play_h {
          display: none;
        }
        .card:hover {
          .play_h {
            font-size: 59px;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            a {
              color: white;
            }
          }
          .img_album {
            img {
              opacity: 0.33;
            }
          }
        }
      }
    }
  }
  .bottom {
    color: white;
    background-color: #282828;
    height: 70px;
    .container_bottom {
      padding: 0px 5px 0px 5px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .song {
        height: 100%;
        display: flex;

        width: 230px;
        .img_song_desc {
          display: flex;
          align-items: center;
          .img_song {
            width: 42px;
            img {
              width: 100%;
            }
          }
          .text_bottom {
            padding: 0px 5px 0px 5px;
          }
          .icon_lef_bottom {
            display: flex;
            color: grey;
            i:hover {
              transform: scale(1.15);
            }
            .heart:hover {
              color: red;
            }
            .folder:hover {
              color: limegreen;
            }
          }
        }
      }
      .player {
        flex-grow: 2;
        text-align: center;
        flex-shrink: 0;
        text-align: center;

        .player_top {
          padding: 10px 0px 5px 0px;
          i {
            font-size: 20px;
          }
          .fa-circle-play {
            font-size: 30px;
          }
          i:hover {
            transform: scale(1.15);
          }
        }

        .player_bottom {
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            padding: 0px 5px 0px 5px;
          }
          .barra_hr {
            height: 5px;
            width: 10%;
            background-color: #c1c1c1;
            border-radius: 10px 0px 0px 10px;
            position: relative;
            top: 0;
            left: 0;
          }
          .barra {
            height: 5px;
            width: 30%;
            background-color: grey;
            border-radius: 0px 10px 10px 0px;
          }
          .barra_hr:hover {
            background-color: limegreen;
            .circle {
              height: 20px;
              width: 20px;
              background-color: white;
              border-radius: 50%;
              position: absolute;
              top: -8px;
              right: 0;
            }
          }
        }
      }
      .controls {
        width: 230px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        i:hover {
          transform: scale(1.15);
        }
        .barra_volum {
          height: 5px;
          width: 30%;
          background-color: grey;
        }
        .barra_volum:hover {
          background-color: limegreen;
          .circle {
            height: 15px;
            width: 15px;
            background-color: white;
            border-radius: 50%;
            position: absolute;
            bottom: 27px;
            right: 17px;
          }
        }
        .barra_vl_grey {
          height: 5px;
          width: 10%;
          background-color: grey;
          border-radius: 0px 10px 10px 0px;
        }
      }
      i {
        padding: 0px 5px 0px 5px;
      }
    }
  }
}

@media screen and (max-width: 878px) {
  .container_wrapper {
    .top {
      .main_content {
        .row {
          .cards {
            flex-wrap: wrap;
            .card {
              width: calc(100% / 12 * 3);
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 639px) {
  .container_wrapper {
    .top {
      .main_content {
        .row {
          .cards {
            flex-wrap: wrap;
            .card {
              width: calc(100% / 12 * 6);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 552px) {
  .container_wrapper {
    .top {
      .sidebar {
        width: 50px;
        .logo {
          .sm_none {
            display: none;
          }
          .hide_sm {
            display: inline-block;
          }
        }
        .mobile_none {
          display: none;
        }
        hr {
          display: none;
        }
      }

      .main_content {
        width: calc(100% - 50px);
        .row {
          .cards {
            flex-wrap: wrap;
            .card {
              width: calc(100% / 12 * 6);
            }
          }
        }
      }
    }
    .bottom {
      .container_bottom {
        .song {
          .img_song_desc {
            .icon_lef_bottom {
              display: block;
            }
          }
        }
        .controls {
          .circle {
            display: none;
          }
        }
        .player {
        }
        .player_bottom {
          .barra_hr:hover {
            .circle {
              display: none;
            }
          }
        }
      }
    }
  }
}
